:root {
  --primary_white: white;
  --primary_black: #515971;
  --primary_coral: #ff7c87;
  --primary_gray: #f8f8f8;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: "Libre Baskerville", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent; //disable links default hover color background
  *:focus {
    outline-color: var(--primary_coral);
  }
}

code {
  font-family: "Bad Script", cursive;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
